{% extends 'base.html' %} 
{% load bootstrap4%}


{% block content%}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Software Engineer</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-10 mx-auto">
                    <div class="job_sumary">
                        <div class="summery_header">
                           <center> <h3>Job Summery</h3></center>
                        </div>
                        <div class="job_content">
                            <ul>
                                <li>Name: <span>{{profile.user}}</span></li>
                                <li>Email: <span>{{profile.user.email}}</span></li>
                                <li>Phone: <span>{{profile.phone_number}}</span></li>
                                <li>Address: <span>{{profile.city}}</span></li>
                            </ul>
                            <a href={% url 'accounts:edit_profile' %} class="btn btn-primary mt-4 btn-lg">Edit profile</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    